@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NotoSansThai';
    src: url(../font/static/NotoSansThai-Light.ttf) format('truetype');
    font-weight: 300; 
}

@font-face {
    font-family: 'NotoSansThai';
    src: url(../font/static/NotoSansThai-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansThai';
    src: url(../font/static/NotoSansThai-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansThai';
    src: url(../font/static/NotoSansThai-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSansThai';
    src: url(../font/static/NotoSansThai-Thin.ttf) format('truetype');
    font-weight: 100;
}

body {
    font-family: 'NotoSansThai', sans-serif;
}